// Colors

$primary: #198754;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$button-active-blue: #1669f2;

$google-blue: #4885ed;
$google-red: #db3236;
$google-yellow: #f4c20d;
$google-green: #3cba54;
